/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --desktop-title-decor: #FF0070;
  --header-color: #DB00FF;
  --accent-color: #FF0070;
  --text-title: #000028;
  --text-header: #FF0070;
  --text-color: #F1B2CE;
  --decorated-zone: #FF0070;
  --decorated-zone-hover: rgba(255, 0, 112, 0.40);
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}