/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
  --desktop-title-decor: #FF0070;
  --header-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-title: #353430;
  --text-header: #353430;
  --text-color: #353430;
  --decorated-zone: #353430;
  --decorated-zone-hover: rgba(50, 49, 45, 0.40);
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --desktop-title-decor: #FF0070;
    --header-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-title: #353430;
    --text-header: #353430;
    --text-color: #353430;
    --decorated-zone: #353430;
    --decorated-zone-hover: rgba(50, 49, 45, 0.40);
    --background-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    }

    .theme_auto .rec {
      visibility: hidden;
    }
  }

  .theme_light .rec {
    visibility: hidden;
  }
